<p id="notice"><%= notice %></p>

<h1>Moods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moods.each do |mood| %>
      <tr>
        <td><%= mood.name %></td>
        <td><%= link_to 'Edit', edit_board_mood_path(@board, mood) %></td>
        <td><%= link_to 'Destroy', board_mood_path(@board, mood), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mood', new_board_mood_path(@board) %>
<%= link_to 'Back to Board', board_path(@board) %>
