.media.postbox
  .media-left
    - if post.user.present? && post.user.photo.present?
      = image_tag post.user.photo, class: 'postbox-thumb'
    - else
      = image_tag "avatar-placeholder.png", class: 'postbox-thumb'
  .media-body
    %h4.media-heading= post.title
    - if post.file.present?
      = image_tag post.file.url, class: 'postbox-image'
    %p= simple_format post.body
    %p
      = link_to 'Edit', edit_board_category_post_path(@board, category, post), class: 'btn btn-default btn-sm'
      = link_to 'Delete', board_category_post_path(@board, category, post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
