%h2.sub-header Todo List
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Desctiption
        %th Status
        %th Due Date
        %th Asignees
        %th
    %tbody
      - @todos.each do |todo|
        %tr
          %td= todo.title
          %td= todo.description
          %td= todo.status
          %td= todo.due_date
          %td= todo.users.map(&:name).join(", ")
          %td
            = link_to 'Edit', edit_board_todo_path(@board, todo), class: 'btn btn-sm btn-default'
            = link_to 'Destroy', board_todo_path(@board, todo), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
      %tr
        %td{ colspan: '7' }= link_to '+ New Todo', new_board_todo_path(@board), class: 'btn btn-primary'
