%p#notice= notice
.container
  %p= link_to 'Manage Users', users_path
  %h2.sub-header Boards
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th
      %tbody
        - @boards.each do |board|
          %tr
            %td= link_to board.name, board_users_path(board)
            %td
              = link_to 'Show', board_users_path(board), class: 'btn btn-sm btn-primary'
              = link_to 'Edit', edit_board_path(board), class: 'btn btn-sm btn-default'
              = link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
        %tr
          %td{ colspan: '7' }= link_to 'New Board', new_board_path, class: 'btn btn-primary'
