= form_for([@board, category, post]) do |f|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :file
    = f.file_field :file
  .field
    = f.label :user
    = select_tag 'post[user_id]', options_from_collection_for_select(@board.users, "id", "name", post.user.present? ? post.user.id : current_user.id)
  .actions
    = f.submit
