- @categories.each do |category|
  .panel.panel-default
    .panel-heading
      %h3
        %span.pull-right
          = link_to 'Edit', edit_category_path(category), class: 'btn btn-default btn-sm'
          = link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm'
        .panel-title= category.name
    .panel-body
      .posts-grid
        - category.posts.each do |post|
          = render 'post', category: category, post: post
        .media.postbox
          %p
            = link_to 'New Post', new_category_post_path(category), class: 'btn btn-primary'

= link_to 'New Category', new_category_path



