- @categories.each do |category|
  .category
    %h2.sub-header= category.name
    = link_to 'Edit', edit_category_path(category)
    = link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }
    %ul.posts
      - category.posts.each do |post|
        %li=post.title
    = link_to 'New Post', new_category_post_path(category)


= link_to 'New Category', new_category_path



