%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Missionboard

    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-left
        - @roles.each do |role|
          %li.navigation-selector
            %span.label= role.name
            = select_tag role.name, options_from_collection_for_select(@users, "id", "name")

      %ul.nav.navbar-nav.navbar-right
        %li.navigation-selector
          %span.label My Mood
          = form_for(current_user) do |f|
            = select_tag 'user[mood_id]',
              options_from_collection_for_select(@moods, "id", "name", current_user.mood.try(:id)),
              onchange: "this.form.submit()"
        %li
          = link_to @user.name, ''
        %li
          = link_to 'Exit', exit_path
